body {
    font-family: Gill Sans, sans-serif;
    background-color:rgba(137, 137, 246, 0.5);
    text-align: center;
    min-width: 880px;
}

.link-box {
  margin: auto;
  width: 10%;
  padding: 0.5% 0;
  border: 1px solid black;
  box-sizing: border-box;
  background: rgba(137, 137, 246, 0.8);
}

.link-box > a, a:visited{
  text-decoration: none;
  color:black;
}