body {
  font-family: Courier New;
  background-color: rgb(130, 132, 117);
  text-align: center;
  font-size: 150%
}

img {
  width: 635px;
  height: 400px;
  object-fit: contain;
  float : left;
}

.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  }

.image {
  padding-left: 30px;
}

.text {
  padding-right: 30px;
}

.home {
  padding-top: 50px;
}
  